In [1]:
import pandas as pd



df = pd.read_csv('fau_onboarding.csv')


df.head()

,id,department,published_topics,liked_articles,engagement
0,emp_001,marketing,marketing strategies,investment,low
1,emp_002,hr,equal employment opportunity,hr marketing,medium
2,emp_003,operations,safe deposits,lendings of funds,high
3,emp_004,finance,none,investment,low
4,emp_005,hr,none,hr recruitment,low

In [3]:

df.isnull().sum()


df['department'] = df['department'].astype('category').cat.codes
df['published_topics'] = df['published_topics'].astype('category').cat.codes
df['liked_articles'] = df['liked_articles'].astype('category').cat.codes


df.head()

        id  department  published_topics  liked_articles engagement
0  emp_001           2                 6               9        low
1  emp_002           1                 5               6     medium
2  emp_003           3                10              12       high
3  emp_004           0                 8               9        low
4  emp_005           1                 8               8        low

In [15]:
import numpy as np


from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

from sklearn.metrics.pairwise import cosine_similarity


features = ['department', 'published_topics', 'liked_articles', 'engagement']
feature_matrix = df[features].values

In [17]:
print(df.isnull().sum())

id                  0
department          0
published_topics    0
liked_articles      0
engagement          0
dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder


le = LabelEncoder()


categorical_columns = ['department', 'published_topics', 'liked_articles', 'engagement']


for col in categorical_columns:
    df[col] = le.fit_transform(df[col])


df.head()

        id  department  published_topics  liked_articles  engagement
0  emp_001           2                 6               9           2
1  emp_002           1                 5               6           3
2  emp_003           3                10              12           1
3  emp_004           0                 8               9           2
4  emp_005           1                 8               8           2

In [23]:
from sklearn.metrics.pairwise import cosine_similarity


features = ['department', 'published_topics', 'liked_articles', 'engagement']
feature_matrix = df[features].values

In [24]:

similarity_matrix = cosine_similarity(feature_matrix)

In [26]:

emp_index = df[df['id'] == 'emp_030'].index[0]

In [27]:

similarity_scores = similarity_matrix[emp_index]

In [28]:

top_indices = similarity_scores.argsort()[-4:-1][::-1]

In [30]:

top_employees = df.iloc[top_indices]['id'].values
print(top_employees)

['emp_023' 'emp_018' 'emp_009']